/* Fonts */
@font-face {
  font-family: 'Queen';
  src: url('../fonts/Queen of Clubs.eot');
  src: local('☺'), url('../fonts/Queen of Clubs.woff') format('woff'), url('../fonts/Queen of Clubs.ttf') format('truetype'), url('../fonts/Queen of Clubs.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}






/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body, html {
  max-height: 100vh;
}

.container {
  margin: 0 30px;
}
a {
  text-decoration: none;
  font-family: 'Queen', 'Arial', sans-serif;
  font-size: 50px;
  color: #fff;
  transition: 0.2s;
  border: 0;
}

a:hover {
  color: #d11d1d;
}

.clips_link:hover {
  opacity: 0.85;
}

.clips_link:active {
  opacity: .7;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



/*
  ========================================
  Main
  ========================================
*/


.main {
  min-height: 100vh;
  background-image: url('../images/main_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Nav_bar top */

.nav_bar1 {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

/* Clips */

.clips {
  padding: 23vh 0;
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
}

.clips img:first-of-type {
  margin-right: 8px;

}

.clips img:last-of-type {
  margin-left: 8px;
}

/* Nav_bar bottom */

.footer {
  display: flex;
  justify-content: space-between;
}

.avtors {
  display: flex;
  justify-content: space-around;
  width: 100%;
}


/*
  ========================================
  Community
  ========================================
*/

.community {
  background-image: url('../images/community_bg.png');
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.contacts {
  height: 70vh;
}

.contacts ul {
  list-style-type: none;
  padding-left: 30px;
}


.contacts span {
  display: block;
  font-family: 'Queen', 'Arial', sans-serif;
  font-size: 50px;
  color: #fff;
  padding-bottom: 10px;
}

.contacts a {
  display: block;
  font-size: 20px;
  margin-left: 30px;
  margin-bottom: 15px;
}

.youtube_link {
  background-image: url('../images/youtube_link.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.vk_link {
  background-image: url('../images/vk_link.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.inst_link {
  background-image: url('../images/inst_link.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.git_link {
  background-image: url('../images/git_link.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.contacts_of_gang {
  margin-bottom: 40px;
}



/* Adaptive */

@media (max-width: 1009px) {
  .clips {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .clips img{
    display: block;
    padding-bottom: 5px;
  }

  .clips img:first-of-type {
  margin-right: 0;

  }

  .clips img:last-of-type {
    margin-left: 0;
  }
}